{% extends 'resident/layout.html.twig' %}

{% block body_id 'resident_edit' %}

{% block main %}
    <h1>Edit resident #{{ resident.id }}</h1>
    {{ form_start(form, {attr: attr|default({})}) }}
    {{ form_widget(form) }}

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> Save
    </button>
    {{ form_end(form) }}
{% endblock %}

